*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
}
.hero{
    width: 100%;
    height: 100%;
}
nav{
    display:flex;
    border: 2px solid black;
    justify-content: space-between;
    list-style: none;
    align-items: center;

}

nav ul li{
    display: inline-block;
    font-family: 'Playfair Display', serif;
}
h3{
    display: inline-block;
}
span{
    
}
.bg{
    background-image: url('Images/[Downloader.la]-6460d5786b2bb.png');
    border: 2px solid black;
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}
.white{
    color: aliceblue;
    font-size: 100px;
}
.black{
    color: aliceblue;
}
a{
    color: black;
    text-decoration: none;
}
li{
    margin: 15px 35px;
 
}
.logo{
    margin-left: 60px;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
}
.bann{
    margin-right: 60px;
    font-family: 'Playfair Display', serif;
}
.bag{
    margin-left: 20px;
}
.sec2{
    height: 1000px;
}
h1 h2{
    font-family: 'Playfair Display', serif;
}
.black-box{
    border: 2px solid black;
    height: 350px;
    display: inline-block;
    width: 300px;
    background-color: black;
    
}
.show{
    height: 50px;
    width: 150px;
    background-color: black;
    color: aliceblue;
}
.book{
    background-color: aliceblue;
    color: black;
    width: 150px;
    height: 60px;
}
.color{
    color: aliceblue;
}
.size{
    font-size: 40px;
}
.high{
    margin-left: 250px;
    margin-top: 300px;
}
#color{
    margin-left: 40px;
}
.makeup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 5rem;
    margin-left: 100px;
    color: black;
}
#m{
    margin: 100px;
}
.naruto{
    background-color: #F3F4F6;
    height: 600px;
}
.test{
    border: 2px solid black;
    width: 600px;
    line-height: 30px;
}
#bear{
    font-size: 50px;
    padding-bottom: 50px;
}
.text, .foxy{
    display: inline-block;
}
.foxy{
    float: right;
    margin-top: 120px;
    margin-right: 250px;
}
.test{
    margin-left: 250px;
    margin-top: 1000px;
}
