*{
    box-sizing: border-box;
    padding: 0;
}
header{
    width: 100%;
    height: 70px;
}
.hero{
    width: 100%;
}
nav{
    display:flex;
    border: 2px solid black;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    height: 50px;
}
nav ul li{
    display: inline-block;
    font-family: 'Playfair Display', serif;
}
h3{
    display: inline-block;
}
.bg{
    background-image: url('Images/[Downloader.la]-6460d5786b2bb.png');
    border: 2px solid black;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.white{
    color: aliceblue;
    font-size: 100px;
    font-weight: 400;
}
.black{
    color: aliceblue;
    margin-top: -100px;
    font-weight: 400;
}
a{
    color: black;
    text-decoration: none;
}
li{
    margin: 15px 35px;
}
.logo{
    margin-left: 60px;
    font-family: 'Yellowtail', cursive;
    font-size: 30px;
    color: rgb(243, 94, 143);
}
.bann{
    margin-right: 60px;
    font-family: 'Playfair Display', serif;
}
.bag{
    margin-left: 20px;
}
.sec2{
    height: 1000px;
}
h1 h2{
    font-family: 'Playfair Display', serif;
}
.black-box{
    border: 2px solid black;
    height: 300px;
    display: inline-block;
    width: 350px;
    background-color: black;
    margin-left: -155px;
    margin-top: 150px;   
}
.show{
    height: 50px;
    width: 150px;
    background-color: black;
    color: aliceblue;
}
.book{
    background-color: aliceblue;
    color: black;
    width: 150px;
    height: 60px;
}
.color{
    color: aliceblue;
}
.size{
    font-size: 40px;
}
.high{
    margin-left: 250px;
    margin-top: 150px;
}
#color{
    margin-left: 35px;
}
.makeup{
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: black;
    margin-top: 200px;
}
.dora{
    margin: 1110 auto;
    display: block;
    font-size: 100px;    
}
.naruto{
    background-color: #F3F4F6;
    height: 630px;
    margin-top: 50px;
    position: relative;
}
#bear{
    font-size: 50px;
    padding-bottom: 10px;
    font-weight: 400;
}
.text, .foxy{
    display: inline-block;
}
.foxy{
    float: right;
    margin-top: 120px;
    margin-right: 250px;
}
.test{
    margin-left: 320px;
    margin-top: 150px;
    width: 700px;
    line-height: 30px;
    position: relative;
    top: 200px;
}
.doctor{
    color: rgb(56, 55, 55);
    font-size: 1em;
}
.kilo{
    text-align: center;
}
#doraemon{
    margin: 0 auto;
    display: block;
    font-size: 50px;  
}
.m{
    text-align: center;
    margin: 50px;
}
.bluesky{
    height: 500px;
    width: 250px;
    background-color: rgb(234, 77, 184);
    margin: 20px;
    position: relative;
}
.pinkk{
    text-align: center;
    font-weight: 400;
    font-size: 50px;
}
.stylers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 100px;
}
.skyking{
    position: absolute;
    bottom: -100px;
    left: 60px; 
}

.lambargini{
    font-size: 20px;
    font-weight: 400;
}
.kitty{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: static;
}
.kitty-cat{
    margin-left: -65px;
    margin-bottom: 120px;
}
.lion-vs-tiger{
    border-top: 2px solid black;
    margin-top: -40px;
    width: 50px;
    margin: 0 auto;
}
.hayabusa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 100px;
}
.haya{
    margin: 20px;
}
.gridbar{
    display: grid;
    height: 1800px;
    gap: 20px;
    grid-template-columns: 500px 500px 500px;
    justify-content: center;
    margin-top: 100px;
}
.footer{
    height: 1200px;
}